body {
  background-color: #eee;

  nav, footer {
    background: #f8fcff !important;
  }

  footer a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#root {
  flex: 1 0 auto;
  width: 100vw;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
